---
interface Props {
	src: any;
	alt: string;
	eager?: boolean | null;
	heading: string;
	subheading: string;
	x: string;
	y: string;
	z: string;
	rotation: string;
	href?: string | null;
}

import { Image } from "astro:assets";

const { src, alt, eager, heading, subheading, x, y, z, rotation, href } =
	Astro.props;
---

<a href={href} class="project absolute" data-z-index={z}>
	<div class="flex justify-center items-center w-[600px] lg:w-full">
		<div class="project-detail text-box pl-8 w-[400px]">
			<div
				class="w-fit bg-black bg-opacity-50 px-2 py-2 rounded-md text-3xl"
			>
				{heading}
				<br /><br />
				<span class="text-xl">{subheading}</span>
			</div>
		</div>
		<div class="project-detail project-img right w-[40%] lg:w-[700px]">
			<img
				src={src}
				alt={alt}
				width="700"
				class="rounded-lg fadeIn scaleIn"
			/>
		</div>
	</div>
</a>

<style define:vars={{ x, y, z, rotation }}>
	.project {
		transform: translateX(calc(-50% + var(--x))) translateY(var(--y));

		left: 50%;
	}

	.right {
		transform: rotate(var(--rotation));
	}
</style>
