---
// importing images
import GiveMeLove from "./film-images/give-me-love.webp";
import Daydreamers from "./film-images/daydreamers.webp";
import Grimes from "./film-images/grimes-coachella.webp";
import Rainbows from "./film-images/short-film-about-rainbows.webp";
import Sharkbait from "./film-images/shark-bait.webp";
import Twitchcon from "./film-images/samsung-twitchcon.webp";
import Heavenmade from "./film-images/heavenmade.webp";
import TellTheGirl from "./film-images/tell-the-girl.webp";
import CreatorCulture from "./film-images/creator-culture.webp";
import DoIKnowYou from "./film-images/do-i-know-you.webp";

import { Image } from "astro:assets";

// subcomponents
import LeftCard from "./SubComponents/LeftCard.astro";
import RightCard from "./SubComponents/RightCard.astro";
---

<div id="home-cards" class="w-full relative hidden md:block">
	<!-- LeftCard = Card on the left side -->
	<LeftCard
		href="/projects/give-me-love"
		src={GiveMeLove}
		alt="Give Me Love"
		eager={true}
		heading="GIVE ME LOVE"
		subheading="(SHORT FILM)"
		x="100px"
		y="0px"
		z="10px"
		rotation="-6.15deg"
	/>
	<RightCard
		href="/projects/daydreamers"
		src={Daydreamers}
		alt="Daydreamers"
		heading="DAYDREAMERS"
		subheading="(OFF-BROADWAY SHOW)"
		eager={false}
		x="-30px"
		y="160px"
		z="9px"
		rotation="3deg"
	/>
	<LeftCard
		src={Grimes}
		alt="Grimes Coachella 2024"
		heading="GRIMES COACHELLA 2024"
		subheading="(MULTIMEDIA LIVE SHOW)"
		eager={false}
		x="50px"
		y="400px"
		z="8px"
		rotation="-6.15deg"
	/>
	<RightCard
		src={Rainbows}
		alt="A short film about rainbows"
		heading="A SHORT FILM ABOUT RAINBOWS"
		subheading="(ANIMATION)"
		eager={false}
		x="-50px"
		y="600px"
		z="9px"
		rotation="5deg"
	/>
	<LeftCard
		src={Sharkbait}
		alt="Shark Bait"
		heading="SHARKBAIT"
		subheading="(SHORT FILM)"
		eager={false}
		x="120px"
		y="800px"
		z="7px"
		rotation="-2.15deg"
	/>

	<div class="background-blur"></div>
</div>

<style is:global lang="scss">
	:root {
		--cards-margin-top: 5rem; /* adjust the margin top  */
		--cards-height: 1000px; /* adjust the cards component total height*/
	}

	#home-cards {
		margin-top: var(--cards-margin-top);
		height: var(--cards-height);
	}

	.project {
		transition:
			transform 600ms ease-in,
			filter 300ms ease-in,
			opacity 300ms ease-in;
	}

	.text-box {
		line-height: 28px;
		font-size: 28px;
		opacity: 0;
		transition: opacity 600ms ease;
	}

	// non hovering cards -> blurred
	#home-cards:has(.project:hover) .project:not(.project:hover) {
		filter: blur(3px);
	}

	.project-img {
		transition:
			transform 300ms ease,
			filter 300ms ease;
		filter: grayscale(100%);
	}

	.project:hover {
		.project-img {
			transform: none;
			filter: none;
		}

		.text-box {
			opacity: 100%;
		}

		~ .background-blur {
			backdrop-filter: blur(3px);
		}
	}

	.project > div {
		z-index: 3;
	}

	.background-blur {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		backdrop-filter: none;
		z-index: 2;
		transition: backdrop-filter 350ms ease;
	}
</style>
